*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior:smooth;
    background-image: url(Background image portfolio.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(to left,#243642,#387478);
}
a{
    color: aliceblue;
    text-decoration: none;
}
.portfolio{
    top: 0;
    left: 0;
    padding: 10px, 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.portfolio.logo{
    font-size: 20px;
    font-weight: 900px;
}
.portfolio ul{
    display: flex;
}
.portfolio ul li{
    list-style: none;
    margin-left: 39px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.portfolio ul li a{
    font-size: 20px;
    font-weight: 500;
}
.portfolio ul li:hover a{
    color: rgb(191, 201, 54);
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 10% 0;
    color: white;
}
.home-info h1{
    font-size: 60px;
}
.home-info h2{
    font-size: 35px;
    margin-top: -10px;
}
.home-info p{
    font-size: 15px;
    margin: 10px 0 25px;
}
.cv{
    display:inline-block;
    padding: 10px 25px;
    background: coral;
    border: 2px solid coral;
    border-radius: 40px;
    box-shadow: 0 0 10px coral;
    font-size: 18px;
    color: black;
    font-weight: 600px;
    transition: .5s;
}
.cv:hover{
    background: transparent;
    color: coral;
    box-shadow: none;
}
.heading{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 100px;
}


/* ------education-------- */
.title{
    margin: 10px;
    text-align: center;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:antiquewhite;
}
.title p{
    color: rgb(244, 240, 238);
    font-size: medium;
    text-align: justify;
}
.education-details h2{
    font-size: 20px;
    margin: 10px;
    margin-right: -6px;
    padding: 13.5px;
    background-color: #1c423f;
    border-radius: 12px;
    box-shadow: 0 4px 6px #9efff7;
    cursor: pointer;
}
.education-details h2:hover{
    box-shadow: 0px 3px 12px 0px #0d675f;
    border: 2px solid transparent;
}
.education-details h2 span{
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.education-details h2 p{
    text-align: justify;
    font-size: 10px;
    margin: 10px;
    padding: 13.5px;
    border-radius: 12px;
    background-color: #1c2630;
    box-shadow: 0 4px 6px #b9baa6c7;
    cursor: pointer;
}
.education{
    text-align: center;
    width: 100%;
    height: 600px;
    margin-top: -100px;
}
.Graduation{
    color: beige;
    width: 33%;
    height: 200px;
    margin-top: 40px;
}
.Intermediate{
    color: beige;
    width: 33%;
    margin-left: 33%;
    margin-top: -210px;
}
.ssc{
    color: beige;
    width: 30%;
    margin-top: 80px;
    margin-left: 66%;
    margin-top: -133px;
}

/* --------skills--------- */

.Head{
    margin-top: -50px;
    text-align: center;
    font-size: 40px;
    color: antiquewhite;
}
.Head p{
    font-size: medium;
    color: #fff;
    text-align:justify;
    margin-left: 10px;
}
.Head1{
    margin: 20px;
    margin-left: 20px;
}
.Head1 p{
    margin: 50px;
    padding: 13.5px;
    background-color: rgb(16, 87, 87);
    border-radius: 14px;
    box-shadow: 0 4px 8px#d8e7e6;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid: 10px;
}
.Head1 p:hover{
    border: 1px solid transparent;
    transition: 0.5s;
}
